# Track 4 — Lambda dependencies
# Install with: pip install -r requirements.txt -t ./package

azure-cosmos==4.7.0
boto3==1.34.0
megadetector
onnx2torch
torch
torchvision
opencv-python-headless
Pillow
tqdm
pyyaml
numpy
